In [41]:
import pandas as pd

In [86]:
test = ['Bernard_Arnault', 'Amancio_Ortega', 'Alice_Walton', 'Jack_Ma', 'Steve_Ballmer', "Elon_Musk"]
# missing_gender = null_values(clean_df, "g", tolist=True)
missing_gender_result = list(map(lambda full_name: full_name.split("_")[0], test))
missing_gender_result

['Bernard', 'Amancio', 'Alice', 'Jack', 'Steve', 'Elon']

In [87]:
original = pd.read_csv("/home/nicolas/ironhack/Ironhack-Module-1-Project-MyProject/data/processed/dataclean_info.csv")
original.head()

,id,name,age,gender,country,image,Sector,Company,Worth(BUSD)
0,7468,Jeff Bezos,54.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Amazon,112.0
1,4605,Bill Gates,62.0,Male,NaN,https://specials-images.forbesimg.com/imageser...,Technology,Microsoft,90.0
2,7368,Warren Buffett,87.0,Male,NaN,https://specials-images.forbesimg.com/imageser...,Finance and Investments,Berkshire Hathaway,84.0
3,3808,Bernard Arnault,69.0,NaN,NaN,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,LVMH,72.0
4,3213,Mark Zuckerberg,33.0,Male,NaN,https://specials-images.forbesimg.com/imageser...,Technology,Facebook,71.0

In [88]:
dftoadd = pd.read_csv("/home/nicolas/ironhack/Ironhack-Module-1-Project-MyProject/data/processed/enhanced_nationality_df.csv")
dftoadd.head()

        SearchName Nationality
0       Bill_Gates        U.S.
1   Warren_Buffett        U.S.
2  Bernard_Arnault      France
3  Mark_Zuckerberg        U.S.
4   Amancio_Ortega       Spain

In [89]:
def switching_countries(df):
    df["country"].replace({"None": None}, inplace=True)
    df["country"].replace({"U.A.E.": "United Arab Emirates"}, inplace=True)
    df["country"].replace({"U.K.": "United Kingdom"}, inplace=True)
    df["country"].replace({"England": "United Kingdom"}, inplace=True)
    df["country"].replace({"Wales": "United Kingdom"}, inplace=True)
    df["country"].replace({"U.S.": "United States"}, inplace=True)

In [90]:
def merge_enhanced_data(original_df, toadd_df, column_to_improve, column_to_drop):
    original_df["SearchName"] = original_df["name"].apply(lambda full_name: "_".join(full_name.strip().split()))
    enhanced_df = pd.merge(original_df, toadd_df, how="left", on="SearchName")
    for x in enhanced_df.index:
        if pd.isna(enhanced_df.loc[x, column_to_improve]):
            enhanced_df.loc[x, column_to_improve] = enhanced_df.loc[x, column_to_drop]
    enhanced_df.drop(columns=["SearchName", column_to_drop], axis=1, inplace=True)
    enhanced_df.rename(columns={column_to_drop: column_to_improve}, inplace=True)
    enhanced_df = enhanced_df[['id', 'name', 'age', 'gender', 'country', 'image', 'Sector', 'Company', 'Worth(BUSD)']]
    switching_countries(enhanced_df)
    print(f"Data was improved by adding new {column_to_improve} values")
    return enhanced_df

In [91]:
final = merge_enhanced_data(original, dftoadd, "country", "Nationality")

Data was improved by adding new country values

In [181]:
final.head(20)

,id,name,age,gender,country,image,Sector,Company,Worth(BUSD)
0,7468,Jeff Bezos,54.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Amazon,112.0
1,4605,Bill Gates,62.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Microsoft,90.0
2,7368,Warren Buffett,87.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Finance and Investments,Berkshire Hathaway,84.0
3,3808,Bernard Arnault,69.0,NaN,France,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,LVMH,72.0
4,3213,Mark Zuckerberg,33.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Facebook,71.0
5,3734,Amancio Ortega,82.0,NaN,Spain,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,Zara,70.0
6,9259,Carlos Slim Helu,78.0,Male,Mexico,https://specials-images.forbesimg.com/imageser...,Telecom,telecom,67.1
7,7159,Charles Koch,82.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Diversified,Koch Industries,60.0
8,7935,David Koch,78.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Diversified,Koch Industries,60.0
9,2736,Larry Ellison,73.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,software,58.5
10,6894,Michael Bloomberg,76.0,Male,NaN,https://specials-images.forbesimg.com/imageser...,Media & Entertainment,Bloomberg LP,50.0
11,4144,Larry Page,45.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Google,48.8
12,2391,Sergey Brin,44.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Google,47.5
13,3266,Jim Walton,70.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,Walmart,46.4
14,2934,S. Robson Walton,73.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,Walmart,46.2
15,9572,Alice Walton,68.0,NaN,United States,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,Walmart,46.0
16,7741,Ma Huateng,46.0,Male,China,https://specials-images.forbesimg.com/imageser...,Technology,internet media,45.3
17,5965,Francoise Bettencourt Meyers,64.0,Female,France,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,L'Oreal,42.2
18,6392,Mukesh Ambani,61.0,Male,India,https://specials-images.forbesimg.com/imageser...,Energy,"petrochemicals, oil & gas",40.1
19,3933,Jack Ma,53.0,NaN,China,https://specials-images.forbesimg.com/imageser...,Technology,e-commerce,39.0

In [93]:
country_relation = pd.read_csv("../data/raw/TwoLettersCountryCodes.csv")
country_relation.head()

          country code
0     Afghanistan   AF
1         Albania   AL
2         Algeria   DZ
3  American Samoa   AS
4         Andorra   AD

In [161]:
def api_search_list (df_clean, df_CC, tolist=False):
    df_clean = df_clean[["id", "name", "gender", "country"]].copy()
    fn = df_clean[df_clean["gender"].isnull()].copy()
    fn["first_name"] = fn["name"].apply(lambda full_name: full_name.strip().split()[0])
    merged_df = pd.merge(fn, df_CC, how="left", on="country")
    merged_df["accuracy"] = 0
    if tolist == True:
        return merged_df.values.tolist()
    else:
        return merged_df

In [162]:
search_gender = api_search_list(final, country_relation, tolist=True)
search_gender_df = api_search_list(final, country_relation, tolist=False)

In [163]:
search_gender

[[3808, 'Bernard Arnault', nan, 'France', 'Bernard', 'FR', 0],
 [3734, 'Amancio Ortega', nan, 'Spain', 'Amancio', 'ES', 0],
 [9572, 'Alice Walton', nan, 'United States', 'Alice', 'US', 0],
 [3933, 'Jack Ma', nan, 'China', 'Jack', 'CN', 0],
 [2313, 'Steve Ballmer', nan, 'United States', 'Steve', 'US', 0],
 [2977, 'Wang Jianlin', nan, 'China', 'Wang', 'CN', 0],
 [5316, 'Beate Heister & Karl Albrecht Jr.', nan, 'Germany', 'Beate', 'DE', 0],
 [2683, 'David Thomson', nan, nan, 'David', nan, 0],
 [9516, 'John Mars', nan, nan, 'John', nan, 0],
 [2489, 'Giovanni Ferrero', nan, 'Italy', 'Giovanni', 'IT', 0],
 [5726, 'Dietrich Mateschitz', nan, 'Austria', 'Dietrich', 'AT', 0],
 [7830, 'Leonardo Del Vecchio', nan, 'Italy', 'Leonardo', 'IT', 0],
 [6355, 'Len Blavatnik', nan, nan, 'Len', nan, 0],
 [6226, 'He Xiangjian', nan, 'China', 'He', 'CN', 0],
 [7653, 'Tadashi Yanai', nan, 'Japan', 'Tadashi', 'JP', 0],
 [4890, 'Laurene Powell Jobs', nan, 'United States', 'Laurene', 'US', 0],
 [4732, 'Lee Kun-Hee', nan, 'South Korea', 'Lee', 'KR', 0],
 [2607, 'Ray Dalio', nan, 'United States', 'Ray', 'US', 0],
 [9937, 'Gennady Timchenko', nan, 'Russia', 'Gennady', 'RU', 0],
 [7802, 'Vladimir Potanin', nan, nan, 'Vladimir', nan, 0],
 [4469, 'Lukas Walton', nan, 'United States', 'Lukas', 'US', 0],
 [1867, 'Marcel Herrmann Telles', nan, 'Brazil', 'Marcel', 'BR', 0],
 [6409, 'Jim Kennedy', nan, nan, 'Jim', nan, 0],
 [3612, 'Seo Jung-Jin', nan, nan, 'Seo', nan, 0],
 [2615, 'Stefano Pessina', nan, 'Italy', 'Stefano', 'IT', 0],
 [6283, 'Wang Wenyin', nan, 'China', 'Wang', 'CN', 0],
 [3724, 'John Menard, Jr.', nan, 'United States', 'John', 'US', 0],
 [4840, 'Liu Qiangdong', nan, 'China', 'Liu', 'CN', 0],
 [3034, 'Pan Zhengmin', nan, nan, 'Pan', nan, 0],
 [4673, 'Zong Qinghou', nan, 'China', 'Zong', 'CN', 0],
 [5315, 'Gianluigi & Rafaela Aponte', nan, nan, 'Gianluigi', nan, 0],
 [4075, 'Yao Zhenhua', nan, 'China', 'Yao', 'CN', 0],
 [3951, 'James Irving', nan, nan, 'James', nan, 0],
 [4889, 'Silvio Berlusconi', nan, 'Italy', 'Silvio', 'IT', 0],
 [2159, 'Hui Wing Mau', nan, 'Hong Kong', 'Hui', 'HK', 0],
 [5875, 'David Duffield', nan, 'United States', 'David', 'US', 0],
 [1450, 'George Kaiser', nan, 'United States', 'George', 'US', 0],
 [2276, 'Patrick Soon-Shiong', nan, 'South Africa', 'Patrick', 'ZA', 0],
 [1016, 'Zhou Qunfei', nan, 'Hong Kong', 'Zhou', 'HK', 0],
 [9767, 'Pauline Macmillan Keinath', nan, nan, 'Pauline', nan, 0],
 [3064, 'Iskander Makhmudov', nan, nan, 'Iskander', nan, 0],
 [1283, 'Shahid Khan', nan, 'United States', 'Shahid', 'US', 0],
 [5422, 'Wang Wenxue', nan, 'China', 'Wang', 'CN', 0],
 [5782, 'Willi & Isolde Liebherr', nan, nan, 'Willi', nan, 0],
 [5203, 'Chan Laiwa', nan, 'China', 'Chan', 'CN', 0],
 [7853, 'Tsai Eng-Meng', nan, 'Taiwan', 'Tsai', 'TW', 0],
 [8515, 'Oleg Deripaska', nan, nan, 'Oleg', nan, 0],
 [5950, 'Brian Acton', nan, 'United States', 'Brian', 'US', 0],
 [1775, 'Wee Cho Yaw', nan, 'Singapore', 'Wee', 'SG', 0],
 [1837, 'Leon Black', nan, 'United States', 'Leon', 'US', 0],
 [5468, 'Wei Jianjun', nan, nan, 'Wei', nan, 0],
 [7049, 'Francis Choi', nan, 'Hong Kong', 'Francis', 'HK', 0],
 [6129, 'Suleiman Kerimov', nan, 'Russia', 'Suleiman', 'RU', 0],
 [4634, 'Antonia Johnson', nan, 'Sweden', 'Antonia', 'SE', 0],
 [5517, 'David Cheriton', nan, 'Canada', 'David', 'CA', 0],
 [7998, 'Teh Hong Piow', nan, 'Malaysia', 'Teh', 'MY', 0],
 [4225, 'Maria Asuncion Aramburuzabala', nan, 'Mexico', 'Maria', 'MX', 0],
 [5024, 'Wolfgang Marguerre', nan, nan, 'Wolfgang', nan, 0],
 [6547, 'Marijke Mars', nan, 'United States', 'Marijke', 'US', 0],
 [7529, 'Pamela Mars', nan, nan, 'Pamela', nan, 0],
 [7600, 'Valerie Mars', nan, 'United States', 'Valerie', 'US', 0],
 [5768, 'Kwon Hyuk-Bin', nan, nan, 'Kwon', nan, 0],
 [1087, 'Tom & Judy Love', nan, nan, 'Tom', nan, 0],
 [1541, 'Robert Rowling', nan, 'United States', 'Robert', 'US', 0],
 [4139, 'John Tu', nan, 'China', 'John', 'CN', 0],
 [8186, 'James Dyson', nan, 'United Kingdom', 'James', 'GB', 0],
 [5985, 'Richard Lefrak', nan, 'United States', 'Richard', 'US', 0],
 [6830, 'Rinat Akhmetov', nan, 'Ukraine', 'Rinat', 'UA', 0],
 [8952, 'Milane Frantz', nan, 'United States', 'Milane', 'US', 0],
 [1081, 'Pan Sutong', nan, 'Hong Kong', 'Pan', 'HK', 0],
 [1489, 'John Reece', nan, 'United Kingdom', 'John', 'GB', 0],
 [6218, 'Zhang Shiping', nan, 'China', 'Zhang', 'CN', 0],
 [7388, 'Marie Besnier Beauvalot', nan, 'France', 'Marie', 'FR', 0],
 [1769, 'Kjeld Kirk Kristiansen', nan, 'Denmark', 'Kjeld', 'DK', 0],
 [9437, 'George Roberts', nan, nan, 'George', nan, 0],
 [3822, 'Agnete Kirk Thinggaard', nan, 'Denmark', 'Agnete', 'DK', 0],
 [5938, 'Alexander Abramov', nan, 'Russia', 'Alexander', 'RU', 0],
 [1385, 'Marian Ilitch', nan, 'United States', 'Marian', 'US', 0],
 [7185, 'Pyotr Aven', nan, 'Russia', 'Pyotr', 'RU', 0],
 [8588, 'Bernard Marcus', nan, 'United States', 'Bernard', 'US', 0],
 [5561, 'Pedro Moreira Salles', nan, nan, 'Pedro', nan, 0],
 [1638, 'Denise Coates', nan, 'United Kingdom', 'Denise', 'GB', 0],
 [7401, 'Joe Lewis', nan, nan, 'Joe', nan, 0],
 [7891, 'Gabriella Meister', nan, nan, 'Gabriella', nan, 0],
 [1653, 'Walther Moreira Salles Junior', nan, nan, 'Walther', nan, 0],
 [2006, 'Pankaj Patel', nan, 'India', 'Pankaj', 'IN', 0],
 [5235, 'Ajay Piramal', nan, nan, 'Ajay', nan, 0],
 [8321, 'Enrique Razon, Jr.', nan, nan, 'Enrique', nan, 0],
 [3254, 'David Siegel', nan, nan, 'David', nan, 0],
 [5514, 'Fu Liquan', nan, nan, 'Fu', nan, 0],
 [2287, 'Philip & Cristina Green', nan, nan, 'Philip', nan, 0],
 [1460, 'Mikhail Gutseriev', nan, 'Russia', 'Mikhail', 'RU', 0],
 [5659, 'Travis Kalanick', nan, nan, 'Travis', nan, 0],
 [6635, 'Robert Ziff', nan, 'United States', 'Robert', 'US', 0],
 [7664,
  'Gwendolyn Sontheim Meyer',
  nan,
  'United States',
  'Gwendolyn',
  'US',
  0],
 [5232, 'Majid Al Futtaim', nan, 'United Arab Emirates', 'Majid', 'AE', 0],
 [6079, 'Chris Larsen', nan, 'United States', 'Chris', 'US', 0],
 [5042, 'Liang Wengen', nan, 'China', 'Liang', 'CN', 0],
 [4658, 'Fang Wei', nan, 'China', 'Fang', 'CN', 0],
 [3931, 'Robert Miller', nan, nan, 'Robert', nan, 0],
 [3992, 'Leonard Stern', nan, nan, 'Leonard', nan, 0],
 [1606, 'Anthony Bamford', nan, 'United Kingdom', 'Anthony', 'GB', 0],
 [5919, 'Andrew Forrest', nan, 'Australia', 'Andrew', 'AU', 0],
 [4665, 'Micky Jagtiani', nan, 'Kuwait', 'Micky', 'KW', 0],
 [3531, 'Akio Nitori', nan, 'Japan', 'Akio', 'JP', 0],
 [6906, 'Matthias Reimann-Andersen', nan, nan, 'Matthias', nan, 0],
 [3419, 'Jeronimo Arango', nan, 'Mexico', 'Jeronimo', 'MX', 0],
 [2151, 'Austen Cargill, Ii.', nan, nan, 'Austen', nan, 0],
 [2147, 'Sumet Jiaravanon', nan, 'Thailand', 'Sumet', 'TH', 0],
 [7044, 'Bobby Murphy', nan, nan, 'Bobby', nan, 0],
 [7668, 'Walter Scott, Jr.', nan, 'United States', 'Walter', 'US', 0],
 [6670, 'Jack & Laura Dangermond', nan, nan, 'Jack', nan, 0],
 [8826, 'Fan Hongwei', nan, nan, 'Fan', nan, 0],
 [6620, 'Montri Jiaravanont', nan, 'Thailand', 'Montri', 'TH', 0],
 [6901, 'Michael Pieper', nan, 'Switzerland', 'Michael', 'CH', 0],
 [8195, 'Ursula Bechtolsheimer-Kipp', nan, nan, 'Ursula', nan, 0],
 [8728, 'Dan Friedkin', nan, 'United States', 'Dan', 'US', 0],
 [1170, 'Michel Leclercq', nan, 'France', 'Michel', 'FR', 0],
 [2344, 'Richard Schulze', nan, 'United States', 'Richard', 'US', 0],
 [4053, 'Zhang Yiming', nan, 'China', 'Zhang', 'CN', 0],
 [1628, 'Rick Caruso', nan, 'United States', 'Rick', 'US', 0],
 [3691, 'Tom Gores', nan, 'United States', 'Tom', 'US', 0],
 [2723, 'Masatoshi Ito', nan, nan, 'Masatoshi', nan, 0],
 [5279, 'Stewart And Lynda Resnick', nan, 'United States', 'Stewart', 'US', 0],
 [9675, 'Christoph Zeller', nan, 'Germany', 'Christoph', 'DE', 0],
 [6954, 'Chen Dongsheng', nan, nan, 'Chen', nan, 0],
 [8030, 'Dominika & Sebastian Kulczyk', nan, 'Poland', 'Dominika', 'PL', 0],
 [4841, 'Masahiro Miki', nan, 'Japan', 'Masahiro', 'JP', 0],
 [1253, 'Katharina Otto-Bernstein', nan, nan, 'Katharina', nan, 0],
 [9911, 'Ira Rennert', nan, 'United States', 'Ira', 'US', 0],
 [2495, 'Nick Caporella', nan, 'United States', 'Nick', 'US', 0],
 [5388, 'Mark Cuban', nan, 'United States', 'Mark', 'US', 0],
 [4418, 'Jaime Gilinski Bacal', nan, 'Colombia', 'Jaime', 'CO', 0],
 [1120, 'S. Curtis Johnson', nan, 'United States', 'S.', 'US', 0],
 [5636, 'Viatcheslav Kantor', nan, nan, 'Viatcheslav', nan, 0],
 [4898, 'Edward Johnson, Iv.', nan, 'United States', 'Edward', 'US', 0],
 [2205, 'Elizabeth Johnson', nan, nan, 'Elizabeth', nan, 0],
 [1529, 'Friedhelm Loh', nan, 'Germany', 'Friedhelm', 'DE', 0],
 [9453, 'Kiran Mazumdar-Shaw', nan, 'India', 'Kiran', 'IN', 0],
 [8712, 'Sarath Ratanavadi', nan, nan, 'Sarath', nan, 0],
 [7524, 'Zhang Xin', nan, 'China', 'Zhang', 'CN', 0],
 [2038, 'Carlo Benetton', nan, 'Italy', 'Carlo', 'IT', 0],
 [7808, 'Kuldip Singh & Gurbachan Singh Dhingra', nan, nan, 'Kuldip', nan, 0],
 [6425, 'Edwin Leong', nan, nan, 'Edwin', nan, 0],
 [7172, 'Kjell Inge Rokke', nan, 'Norway', 'Kjell', 'NO', 0],
 [2812, 'Clemens Toennies', nan, nan, 'Clemens', nan, 0],
 [3325, 'Carlos Rodriguez-Pastor', nan, 'Peru', 'Carlos', 'PE', 0],
 [1356, 'Teddy Sagi', nan, 'Israel', 'Teddy', 'IL', 0],
 [5168, 'Juan-Miguel Villar Mir', nan, 'Spain', 'Juan-Miguel', 'ES', 0],
 [1903, 'Anil Agarwal', nan, nan, 'Anil', nan, 0],
 [4719, 'Chen Lip Keong', nan, 'Malaysia', 'Chen', 'MY', 0],
 [1409, 'Reid Hoffman', nan, 'United States', 'Reid', 'US', 0],
 [3582, 'Kenneth Langone', nan, 'United States', 'Kenneth', 'US', 0],
 [8938, 'Li Sze Lim', nan, nan, 'Li', nan, 0],
 [9141, 'God Nisanov', nan, nan, 'God', nan, 0],
 [8754, 'Hans Peter Wild', nan, 'Germany', 'Hans', 'DE', 0],
 [7883, 'Yvonne Bauer', nan, 'Germany', 'Yvonne', 'DE', 0],
 [8068, 'Andrew & Peggy Cherng', nan, nan, 'Andrew', nan, 0],
 [9084, 'Jiang Bin', nan, 'China', 'Jiang', 'CN', 0],
 [9672, 'Kurt Krieger', nan, nan, 'Kurt', nan, 0],
 [9878, 'Daniel Loeb', nan, 'United States', 'Daniel', 'US', 0],
 [6094, 'Luo Jye', nan, 'Taiwan', 'Luo', 'TW', 0],
 [1625, 'Ronald Mcaulay', nan, nan, 'Ronald', nan, 0],
 [6814, 'Hans Georg Naeder', nan, nan, 'Hans', nan, 0],
 [8132, 'Daniel Och', nan, 'United States', 'Daniel', 'US', 0],
 [8796, 'Lynn Schusterman', nan, 'United States', 'Lynn', 'US', 0],
 [9037, 'John Catsimatidis', nan, 'United States', 'John', 'US', 0],
 [3796, 'Do Won & Jin Sook Chang', nan, 'United States', 'Do', 'US', 0],
 [3988, 'Allan Goldman', nan, nan, 'Allan', nan, 0],
 [5872, 'Amy Goldman Fowler', nan, 'United States', 'Amy', 'US', 0],
 [4453, 'Manuel Lao Hernandez', nan, 'Spain', 'Manuel', 'ES', 0],
 [4558, 'Ren Jianhua', nan, nan, 'Ren', nan, 0],
 [8257, 'Donald Trump', nan, 'United States', 'Donald', 'US', 0],
 [4910, 'Wang Jian', nan, nan, 'Wang', nan, 0],
 [3342, 'Clifford Asness', nan, nan, 'Clifford', nan, 0],
 [3440, 'Ennio Doris', nan, nan, 'Ennio', nan, 0],
 [8315, 'Valentin Gapontsev', nan, 'United States', 'Valentin', 'US', 0],
 [6482, 'Martin Haefner', nan, 'Switzerland', 'Martin', 'CH', 0],
 [5245, 'Lu Xiangyang', nan, 'China', 'Lu', 'CN', 0],
 [9424, 'Robert Sands', nan, nan, 'Robert', nan, 0],
 [9155, 'Robert Toennies', nan, 'Germany', 'Robert', 'DE', 0],
 [1958, 'Wu Kaiting', nan, nan, 'Wu', nan, 0],
 [4758, 'Gerald Ford', nan, 'United States', 'Gerald', 'US', 0],
 [2452, 'Jamshyd Godrej', nan, 'India', 'Jamshyd', 'IN', 0],
 [7490, 'Joseph Grendys', nan, 'United States', 'Joseph', 'US', 0],
 [6562, 'Alicia Koplowitz', nan, 'Spain', 'Alicia', 'ES', 0],
 [5131, 'Louis Le Duff', nan, 'France', 'Louis', 'FR', 0],
 [6378, 'Yusaku Maezawa', nan, 'Japan', 'Yusaku', 'JP', 0],
 [7341, 'Hans Melchers', nan, nan, 'Hans', nan, 0],
 [5277, 'Husnu Ozyegin', nan, 'Turkey', 'Husnu', 'TR', 0],
 [3411, 'Thomas Siebel', nan, 'United States', 'Thomas', 'US', 0],
 [8023, 'Ralph Sonnenberg', nan, 'Netherlands', 'Ralph', 'NL', 0],
 [7793, 'Radovan Vitek', nan, 'Czech Republic', 'Radovan', 'CZ', 0],
 [4062, 'Carlos Ardila Lülle', nan, nan, 'Carlos', nan, 0],
 [5351, 'William Conway, Jr.', nan, 'United States', 'William', 'US', 0],
 [9371, 'Ding Shijia', nan, nan, 'Ding', nan, 0],
 [9667, 'John Fisher', nan, 'United States', 'John', 'US', 0],
 [2750, 'Caroline Hagen Kjos', nan, 'Norway', 'Caroline', 'NO', 0],
 [4284, 'H. Wayne Huizenga', nan, 'United States', 'H.', 'US', 0],
 [3062, 'Philip Niarchos', nan, 'Greece', 'Philip', 'GR', 0],
 [9710, 'Sebastian Piñera', nan, 'Chile', 'Sebastian', 'CL', 0],
 [7674, 'Penny Pritzker', nan, 'United States', 'Penny', 'US', 0],
 [7989, 'Nicolas Puech', nan, 'France', 'Nicolas', 'FR', 0],
 [9294, 'Shi Yuzhu', nan, 'China', 'Shi', 'CN', 0],
 [7502, 'Mark Walter', nan, nan, 'Mark', nan, 0],
 [4763, 'Mohed Altrad', nan, 'France', 'Mohed', 'FR', 0],
 [3438, 'Don Hankey', nan, nan, 'Don', nan, 0],
 [1218, 'Huang Wei', nan, nan, 'Huang', nan, 0],
 [5541, 'Mustafa Kucuk', nan, nan, 'Mustafa', nan, 0],
 [7476, 'Najib Mikati', nan, 'Lebanon', 'Najib', 'LB', 0],
 [2385, 'Bob Parsons', nan, 'United States', 'Bob', 'US', 0],
 [2060, 'Helena Revoredo', nan, 'Argentina', 'Helena', 'AR', 0],
 [3587, 'Phillip Ruffin', nan, 'United States', 'Phillip', 'US', 0],
 [6785, 'Tsai Cheng-Da', nan, nan, 'Tsai', nan, 0],
 [9147, 'Frank Vandersloot', nan, 'United States', 'Frank', 'US', 0],
 [6291, 'Sandro Veronesi', nan, 'Italy', 'Sandro', 'IT', 0],
 [8840, 'Juan Abello', nan, 'Spain', 'Juan', 'ES', 0],
 [9436, 'Bang Jun-Hyuk', nan, nan, 'Bang', nan, 0],
 [1115, 'Francesco Gaetano Caltagirone', nan, 'Italy', 'Francesco', 'IT', 0],
 [5108, 'Chung Eui-Sun', nan, nan, 'Chung', nan, 0],
 [2402, 'Isabel Dos Santos', nan, 'Angola', 'Isabel', 'AO', 0],
 [3195, 'Phillip Frost', nan, nan, 'Phillip', nan, 0],
 [9784, 'Lutz Mario Helmig', nan, nan, 'Lutz', nan, 0],
 [9798, 'Daniel Mate', nan, 'Spain', 'Daniel', 'ES', 0],
 [3317, 'Song Zuowen', nan, 'China', 'Song', 'CN', 0],
 [8777, 'Glen Taylor', nan, nan, 'Glen', nan, 0],
 [6005, 'Torbjorn Tornqvist', nan, 'Sweden', 'Torbjorn', 'SE', 0],
 [7610, 'Bulat Utemuratov', nan, 'Kazakhstan', 'Bulat', 'KZ', 0],
 [7005, 'Edward Bass', nan, 'United States', 'Edward', 'US', 0],
 [9032, 'Lee Bass', nan, nan, 'Lee', nan, 0],
 [7811, 'John Coates', nan, 'United Kingdom', 'John', 'GB', 0],
 [6081, 'Jane Lauder', nan, 'United States', 'Jane', 'US', 0],
 [3205, 'Maritsa Lazari', nan, 'Cyprus', 'Maritsa', 'CY', 0],
 [2312, 'Bernard Lewis', nan, 'United Kingdom', 'Bernard', 'GB', 0],
 [9070, 'Aristotelis Mistakidis', nan, 'Greece', 'Aristotelis', 'GR', 0],
 [8393, 'Yoshiko Mori', nan, nan, 'Yoshiko', nan, 0],
 [2393, 'Adam Neumann', nan, 'Israel', 'Adam', 'IL', 0],
 [1437, 'P.V. Ramprasad Reddy', nan, 'India', 'P.V.', 'IN', 0],
 [7796, 'Larry Robbins', nan, 'United States', 'Larry', 'US', 0],
 [4520, 'Klaus-Peter Schulenberg', nan, nan, 'Klaus-Peter', nan, 0],
 [3535, 'Charles Simonyi', nan, 'United States', 'Charles', 'US', 0],
 [8574, 'Mark Stevens', nan, nan, 'Mark', nan, 0],
 [5976, 'Elaine Wynn', nan, 'United States', 'Elaine', 'US', 0],
 [3241, 'John Arrillaga', nan, 'United States', 'John', 'US', 0],
 [9059, 'Vivien Chen', nan, 'Hong Kong', 'Vivien', 'HK', 0],
 [6310, 'Chu Lam Yiu', nan, nan, 'Chu', nan, 0],
 [5450, 'Andre Esteves', nan, 'Brazil', 'Andre', 'BR', 0],
 [1292, 'Alfred Gantner', nan, 'Switzerland', 'Alfred', 'CH', 0],
 [1666, 'Hermann Langness', nan, nan, 'Hermann', nan, 0],
 [9514, 'Alexander Mamut', nan, nan, 'Alexander', nan, 0],
 [1952, 'Sunny Varkey', nan, 'India', 'Sunny', 'IN', 0],
 [5519, 'Yu Minhong', nan, 'China', 'Yu', 'CN', 0],
 [4468, 'Chen Hua', nan, 'China', 'Chen', 'CN', 0],
 [7553, 'Dermot Desmond', nan, 'Ireland', 'Dermot', 'IE', 0],
 [4069, 'Bernard Fraisse', nan, 'France', 'Bernard', 'FR', 0],
 [7359, 'David Gottesman', nan, nan, 'David', nan, 0],
 [4875, 'W. Herbert Hunt', nan, 'United States', 'W.', 'US', 0],
 [2157, 'Lee Joong-Keun', nan, nan, 'Lee', nan, 0],
 [4333, 'Lin Li', nan, 'China', 'Lin', 'CN', 0],
 [2640, 'Clayton Mathile', nan, nan, 'Clayton', nan, 0],
 [2501, 'J. Joe Ricketts', nan, 'United States', 'J.', 'US', 0],
 [6827, 'Tang Yiu', nan, 'Hong Kong', 'Tang', 'HK', 0],
 [2516, 'Wong Man Li', nan, nan, 'Wong', nan, 0],
 [8115, 'Lia Maria Aguiar', nan, 'Brazil', 'Lia', 'BR', 0],
 [9588, 'Chan Tan Ching-Fen', nan, 'Hong Kong', 'Chan', 'HK', 0],
 [7901, 'Alexander Frolov', nan, nan, 'Alexander', nan, 0],
 [1701, 'He Qiaonv', nan, 'China', 'He', 'CN', 0],
 [8499, 'Kong Jian Min', nan, nan, 'Kong', nan, 0],
 [6047, 'Thomas Lee', nan, 'United States', 'Thomas', 'US', 0],
 [4802, 'Eric Lefkofsky', nan, 'United States', 'Eric', 'US', 0],
 [4847, 'Peter Lim', nan, nan, 'Peter', nan, 0],
 [9074, 'Oleg Tinkov', nan, nan, 'Oleg', nan, 0],
 [3559, 'William Young', nan, nan, 'William', nan, 0],
 [6121, 'Leslie Alexander', nan, 'United States', 'Leslie', 'US', 0],
 [2304, 'Patokh Chodiev', nan, nan, 'Patokh', nan, 0],
 [1843, 'Choo Chong Ngen', nan, nan, 'Choo', nan, 0],
 [2327, 'John De Mol', nan, 'Netherlands', 'John', 'NL', 0],
 [5119, 'Sanjiv Goenka', nan, nan, 'Sanjiv', nan, 0],
 [5983, 'William Heinecke', nan, nan, 'William', nan, 0],
 [5097, 'Huang Zhenda', nan, nan, 'Huang', nan, 0],
 [1614, 'Ravi Jaipuria', nan, 'India', 'Ravi', 'IN', 0],
 [3374, 'Kuok Khoon Hong', nan, nan, 'Kuok', nan, 0],
 [1548, 'Christian Latouche', nan, 'France', 'Christian', 'FR', 0],
 [4966, 'Guenther Lehmann', nan, nan, 'Guenther', nan, 0],
 [8725, 'Li Hongxin', nan, nan, 'Li', nan, 0],
 [1451, 'Catherine Lozick', nan, nan, 'Catherine', nan, 0],
 [3215, 'Igor Makarov', nan, nan, 'Igor', nan, 0],
 [3886, 'Harsh Mariwala', nan, 'India', 'Harsh', 'IN', 0],
 [3788, 'Georg Nemetschek', nan, nan, 'Georg', nan, 0],
 [3315, 'Vikas Oberoi', nan, nan, 'Vikas', nan, 0],
 [6417, 'Ong Beng Seng And Christina Ong', nan, nan, 'Ong', nan, 0],
 [1213, 'Tor Peterson', nan, 'United States', 'Tor', 'US', 0],
 [2600, 'Alexey Repik', nan, 'Russia', 'Alexey', 'RU', 0],
 [2055, 'Shin Chang-Jae', nan, 'South Korea', 'Shin', 'KR', 0],
 [7805, 'Kavitark Ram Shriram', nan, 'India', 'Kavitark', 'IN', 0],
 [8555, 'Sylvia Stroeher', nan, nan, 'Sylvia', nan, 0],
 [8970, 'David Walentas', nan, 'United States', 'David', 'US', 0],
 [4983, 'Zhu Gongshan', nan, nan, 'Zhu', nan, 0],
 [4759, 'Bernhard Braun-Luedicke', nan, 'Germany', 'Bernhard', 'DE', 0],
 [8203, 'Friederike Braun-Luedicke', nan, nan, 'Friederike', nan, 0],
 [6899, 'Vivek Chand Burman', nan, nan, 'Vivek', nan, 0],
 [9944, 'Chen Yung-Tai', nan, 'Taiwan', 'Chen', 'TW', 0],
 [9640, 'Alexandra Daitch', nan, 'United States', 'Alexandra', 'US', 0],
 [7984, 'Hu Kaijun', nan, nan, 'Hu', nan, 0],
 [9312, 'Ramesh Juneja', nan, nan, 'Ramesh', nan, 0],
 [9485, 'Bruce Karsh', nan, 'United States', 'Bruce', 'US', 0],
 [7836, 'Harald Link', nan, 'Thailand', 'Harald', 'TH', 0],
 [6316, 'Sarah Macmillan', nan, nan, 'Sarah', nan, 0],
 [3598, 'Howard Marks', nan, 'United States', 'Howard', 'US', 0],
 [8262, 'Vadim Moshkovich', nan, 'Russia', 'Vadim', 'RU', 0],
 [8990, 'Chuchat & Daonapa Petaumpai', nan, nan, 'Chuchat', nan, 0],
 [3676, 'Brian Sheth', nan, 'United States', 'Brian', 'US', 0],
 [4679, 'Satoshi Suzuki', nan, nan, 'Satoshi', nan, 0],
 [5694, 'Katherine Tanner', nan, 'United States', 'Katherine', 'US', 0],
 [3778, 'Arvind Tiku', nan, 'India', 'Arvind', 'IN', 0],
 [8482, 'Wang Xicheng', nan, 'China', 'Wang', 'CN', 0],
 [1308, 'Jon Yarbrough', nan, 'United States', 'Jon', 'US', 0],
 [8299, 'Kiat Chiaravanont', nan, 'Thailand', 'Kiat', 'TH', 0],
 [9325, 'Jean-Paul And Martine Clozel', nan, nan, 'Jean-Paul', nan, 0],
 [7263, 'Friedrich Knapp', nan, 'Germany', 'Friedrich', 'DE', 0],
 [5658, 'Alexander Nesis', nan, 'Russia', 'Alexander', 'RU', 0],
 [1879, 'Jennifer Pritzker', nan, 'United States', 'Jennifer', 'US', 0],
 [3089, 'Qiu Jianping', nan, 'China', 'Qiu', 'CN', 0],
 [8088, 'Megdet Rahimkulov', nan, nan, 'Megdet', nan, 0],
 [2009, 'Vito Rodriguez Rodriguez', nan, 'Peru', 'Vito', 'PE', 0],
 [2799, 'Stephen Rubin', nan, 'United Kingdom', 'Stephen', 'GB', 0],
 [1369, 'Erik Selin', nan, 'Sweden', 'Erik', 'SE', 0],
 [2331, 'Alan N. Trefler', nan, 'United States', 'Alan', 'US', 0],

In [144]:
search_gender[0][]

'Bernard'

In [175]:
import requests
def api_search(api_search_lst, todf=False):
    for x in range(5):
        """
        [3808, 'Bernard Arnault', nan, 'France', 'Bernard', 'FR', 0]
        [id, 'Full Name', Gender, 'Country', 'First Name', 'Code', Accuracy]
        """
        name = api_search_lst[x][4]
        code =  api_search_lst[x][5]
        
        r = requests.get(f"https://api.genderize.io?name={name}&country_id={code}")
        
        api_search_lst[x][2] = r.json()["gender"].capitalize()
        api_search_lst[x][6] = r.json()["probability"]
        
    if todf == True:
        cols = ['id', 'name', 'new_gender', 'country', 'first_name', 'code', 'accuracy']
        fulldf = pd.DataFrame(api_search_lst, columns=cols)
        df = fulldf[["id","new_gender", "accuracy"]].copy()
        return df
    else:
        return api_search_lst

In [176]:
filled_list = api_search(search_gender, todf=True)
filled_list.head()

       id new_gender  accuracy
0    3808       Male      0.97
1    3734       Male      0.96
2    9572     Female      0.97
3    3933       Male      0.98
4    2313       Male      0.99
..    ...        ...       ...
545  4321        NaN      0.00
546  2970        NaN      0.00
547  8793        NaN      0.00
548  1175        NaN      0.00
549  2718        NaN      0.00

[550 rows x 3 columns]

In [179]:
def merge_enhanced_gender(clean_df, toadddf):
    data_enhanced_gender = pd.merge(clean_df, toadddf, how="left", on="id")
    for x in data_enhanced_gender.index:
        if pd.isna(data_enhanced_gender.loc[x, "gender"]):
            data_enhanced_gender.loc[x, "gender"] = data_enhanced_gender.loc[x, "new_gender"]
    data_enhanced_gender.drop(columns=["new_gender"], axis=1, inplace=True)
    return data_enhanced_gender

In [182]:
result = merge_enhanced_gender(final, filled_list)
result.head(20)

,id,name,age,gender,country,image,Sector,Company,Worth(BUSD),accuracy
0,7468,Jeff Bezos,54.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Amazon,112.0,NaN
1,4605,Bill Gates,62.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Microsoft,90.0,NaN
2,7368,Warren Buffett,87.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Finance and Investments,Berkshire Hathaway,84.0,NaN
3,3808,Bernard Arnault,69.0,Male,France,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,LVMH,72.0,0.97
4,3213,Mark Zuckerberg,33.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Facebook,71.0,NaN
5,3734,Amancio Ortega,82.0,Male,Spain,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,Zara,70.0,0.96
6,9259,Carlos Slim Helu,78.0,Male,Mexico,https://specials-images.forbesimg.com/imageser...,Telecom,telecom,67.1,NaN
7,7159,Charles Koch,82.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Diversified,Koch Industries,60.0,NaN
8,7935,David Koch,78.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Diversified,Koch Industries,60.0,NaN
9,2736,Larry Ellison,73.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,software,58.5,NaN
10,6894,Michael Bloomberg,76.0,Male,NaN,https://specials-images.forbesimg.com/imageser...,Media & Entertainment,Bloomberg LP,50.0,NaN
11,4144,Larry Page,45.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Google,48.8,NaN
12,2391,Sergey Brin,44.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Technology,Google,47.5,NaN
13,3266,Jim Walton,70.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,Walmart,46.4,NaN
14,2934,S. Robson Walton,73.0,Male,United States,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,Walmart,46.2,NaN
15,9572,Alice Walton,68.0,Female,United States,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,Walmart,46.0,0.97
16,7741,Ma Huateng,46.0,Male,China,https://specials-images.forbesimg.com/imageser...,Technology,internet media,45.3,NaN
17,5965,Francoise Bettencourt Meyers,64.0,Female,France,https://specials-images.forbesimg.com/imageser...,Fashion & Retail,L'Oreal,42.2,NaN
18,6392,Mukesh Ambani,61.0,Male,India,https://specials-images.forbesimg.com/imageser...,Energy,"petrochemicals, oil & gas",40.1,NaN
19,3933,Jack Ma,53.0,Male,China,https://specials-images.forbesimg.com/imageser...,Technology,e-commerce,39.0,0.98

In [112]:
import requests
r = requests.get("https://api.genderize.io?name=peter&country_id=US")

In [115]:
rdic = r.json()

In [117]:
rdic["gender"]

'male'

In [145]:
r.json()["gender"]

'male'

In [147]:
r.json()["probability"]

0.99