In [33]:
import pandas as pd
import re

In [34]:

"""
This function sorts through a wikipedia page looking for a table listing all countries by nominal GDP
:return: Clean CSV file with the data, 3 columns: Rank, Country and GDP
"""
# url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"  # GDP nominal
# url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)_per_capita" #GDP per capita, doesnt work
url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"

tables = pd.read_html(url)
pop = tables[0] # nominal 4, per capita 3
pop.head()

,Rank,Country(or dependent territory),Population,% of World Population,Date,Source
0,1,China[b],1400708840,NaN,2 Jan 2020,National population clock[3]
1,2,India,1356834250,NaN,2 Jan 2020,National population clock[4]
2,3,United States[c],330518152,NaN,2 Jan 2020,National population clock[5]
3,4,Indonesia,266911900,NaN,1 Jul 2019,National annual projection[6]
4,5,Pakistan,218143000,NaN,2 Jan 2020,National population clock[7]

In [35]:
pop["Country(or dependent territory)"] = pop["Country(or dependent territory)"].apply(lambda country: re.sub(r"\[.+", "", country))
pop["Rank"] = pop.index
pop["Rank"] = pop["Rank"].apply(lambda x :x+1)
pop = pop.rename(columns={'Country(or dependent territory)': 'Country'})
pop.iloc[len(pop)-1,2] = pop.iloc[0:len(pop)-1,2].sum()
pop

,Rank,Country,Population,% of World Population,Date,Source
0,1,China,1400708840,NaN,2 Jan 2020,National population clock[3]
1,2,India,1356834250,NaN,2 Jan 2020,National population clock[4]
2,3,United States,330518152,NaN,2 Jan 2020,National population clock[5]
3,4,Indonesia,266911900,NaN,1 Jul 2019,National annual projection[6]
4,5,Pakistan,218143000,NaN,2 Jan 2020,National population clock[7]
...,...,...,...,...,...,...
236,237,Tokelau (NZ),1400,NaN,1 Jul 2018,National annual estimate[95]
237,238,Vatican City,799,NaN,1 Jul 2019,UN projection[2]
238,239,Cocos (Keeling) Islands (Australia),538,NaN,30 Jun 2018,National estimate[198]
239,240,Pitcairn Islands (UK),50,NaN,1 Jan 2019,National estimate[199]
240,241,World,7630963652,100%,2 Jan 2020,UN projection[200]

In [36]:
list(pop.columns)[3:6]

['% of World Population', 'Date', 'Source']

In [38]:
pop.drop(columns=list(pop.columns)[3:6], axis=1, inplace=True)
pop

     Rank                              Country  Population
0       1                                China  1400708840
1       2                                India  1356834250
2       3                        United States   330518152
3       4                            Indonesia   266911900
4       5                             Pakistan   218143000
..    ...                                  ...         ...
236   237                         Tokelau (NZ)        1400
237   238                         Vatican City         799
238   239  Cocos (Keeling) Islands (Australia)         538
239   240                Pitcairn Islands (UK)          50
240   241                                World  7630963652

[241 rows x 3 columns]

In [41]:
pop.to_csv("Population.csv", index=False)

In [39]:
pwd

'/home/nicolas/ironhack/Ironhack-Module-1-Project-MyProject/notebooks'